
:root{
--main-color: #009ad8;

}

body{
    font-family: "Roboto", "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        background: #1e202b;
    box-sizing: border-box;
}
.navbar{
    padding: 50px 0px !important;
        background: #1e202b;
}
.nav-item a{
    margin: 0px 3px;
  padding: 3px 23px !important;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
}
.navbar-nav .nav-item a:hover{
    border: solid var(--main-color) 2px;
    color:var(--main-color);
    border-radius: 30px;
}
.nav-item a.active{
    border: solid var(--main-color) 2px;
        color:  #009ad8 !important;
        border-radius: 30px;
}
.logo-describtions{
    font-size: x-small;
    display: block;
        color: #bfc1c8;
}

.demo{
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0, 0, 0, 0.1)),url(../image/banner.png);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: scroll;
}
.part{height: 350px;}
.part-2{height: 200px;
background-color: #10131d;}


 .c-img .img{
    width: 20px;
    height: 20px;
    
} .stat{
    color:var(--main-color);
}

.card-body img{
    
    width: 100px;
    height: 100px;
}

.card{
    color:white;
   
    border: #181b1f solid 2px;

}
.card-footer{
    background-color: #131826;
}
  .today-card,.after-tomorrow-card{
    background-color: #10131d;

}
.tomorrow-card{
    background-color: #11121b;
}
.table-weather{
    
    top:-175px
}

.find{
    background-color: var(--main-color);
}

.icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #11121b;
    /*  border: solid 2px #11121b;  /ملهاش لازمه بس عادي/     */
    border-radius: 50%;
}

.icons a:hover{
    color:white;
    background-color: var(--main-color);
    transition: all 0.6s;
}
